body {
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    text-align: center;
}
h1 {
    color: black;
}
#hero {
    display: flex;
}
